@import "variables";


@media (max-width: 767px) {

	.arengas-list{
		display: block;
	}
	.body{
		min-height: 500px;
		width: 95%;
		min-height: 350px;
	}

	.header-buttons{
		display: block;
	}

	.flayer-container{
		width: 100%;
	}

	.header-buttons-toggle{
		display: block;
		float: right;
		margin-right: 20px;
	}
	.menu-header{
		/*position: fixed;
		right: 0px;
		top: 0px;
		width: 80%;
		height: 100%;
		background: white;
		display: none;*/
	}

}
