@import "variables";


@media (max-width: 767px) {
	.section-body-right, .section-body-left{
		display: block;
	}
	.arengas-list{
		display: block;
	}
	.section-div-2{
		display: block;
	}
	.body{
		min-height: 500px;
		width: 95%;
		min-height: 350px;
	}

	.header-buttons{
		display: block;
	}

	.flayer-container{
		width: 100%;
	}

	.header-buttons-toggle{
		display: block;
		float: right;
		margin-right: 20px;
	}
	.menu-header{
		padding-top: 25px;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 80%;
		height: 100%;
		background: white;
		display: none;
		z-index: 10;
		&:before{
			content: "";
			background: rgba(0,0,0,0.5);
			top: 0px;
			left: 0px;
			width: 20%;
			height: 100%;
			position: fixed;
			z-index: -1;
			backdrop-filter: blur(2px);
		}
	}
	.header-buttons{
		width: 100%;
		margin-top: 30px;
	}
	.menu-header-show{
		display: block;
	}

}
