
// Config Variables
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;800&display=swap");
$font-stack: "Lato", sans-serif;

$max-grid: 12;
$font-h1: 30px;
$font-h2: 25px;
$font-h3: 22px;
$font-h4: 18px;
$font-h5: 16px;
$font-p: 14px;
$font-p-min: 13px;

$font-script: 13px;

$color-primary: #83BA2B;
$color-primary-hard: #5F881D;
$color-highligth: #326060;
$color-text: #5B5B5B;
$color-text-dark: white;

$color-background: #EFF8F7;
$color-boder: #9BA3B1;
